.THIS .slds-text-heading--small {
    line-height:2; /*compensates for the input filter option*/
}

.THIS .slds-table td {
    white-space:normal; /* wraps larger stuff like textarea and long text*/
}

.THIS .slds-input {
    min-height:0px;
}